{% extends '/Public/public_index.html' %}
{% block title %} slug {% endblock %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename = '/Public/css/blog-view.css')}}">
    <section id="view-blog" class="fullflex">
        <div class="blog-continer">
            <div class="blog-title">{{posts.title}}</div>
            <div class="blog-content">{{posts.content}}</div>
            <hr class="horizintal_line">
            <div class="outher">
                <li>Auther: {{posts.auther}}</li>
                <li>Posted on: {{posts.dt}}</li>
            </div>
        </div>
    </section>
{% endblock %}