{% extends '/Public/public_index.html'%}
{% block title %} Blog {% endblock %}
{% block body %}
<link rel="stylesheet" href="{{url_for('static', filename ='/Public/css/blog.css')}}">
<section id="few-blogs" class="flexwihtcolum">
    <h1>Some recent blogs</h1>
    <div class="blogs-area flexwihtcolum">

        {% for post in posts %}
        <a href="/view/{{post.slug}}" class="blogs">
            <div class="titel-con">
                <div class="BLGtitle">{{post.title}}</div>
                <div class="BLGcontent">{{post.content[0:400]}}...</div>
            </div>
        </a> 
        {% endfor %}
        <!-- <a href="" class="see-more-blog fullflex">See more blogs</a> -->
        
    </div>
</section>
{% endblock %}