{% extends '/Public/public_index.html' %}
{% block title %} Home {% endblock %}

{% block body %} 
<link rel="stylesheet" href="{{url_for('static', filename = '/Public/css/home.css')}}">
    <section id="home">
        <div class="text-cont">
            <h1>Learn and Teach some skills. Share your skill to earn.</h1>
            <p>In this site you can share your idea and skill in blog to help other. You can also private your blogs then no one can see your blog wihtout you. Your privacy is our policy, you will be portected by any kind of threats.</p>
        </div>
    </section>

    <section id="few-blogs" class="flexwihtcolum">
        <h1>Some recent blogs</h1>
        <div class="blogs-area flexwihtcolum">

            <a href="/vew" class="blogs">
                <div class="titel-con">
                    <div class="BLGtitle">This is title</div>
                    <div class="BLGcontent">This is contaent</div>
                </div>
            </a>

        </div>
        
    </section>

    <section id="about-home" class="fullflex">
        <div class="about fullflex">
            <div class="about-text-area">
                <h1>About us:</h1> 
                <p>Glad to see you on our site. We are wilcom you on our site. Lorem, ipsum dolor sit amet consectetur adipisicing elit. A esse veniam magni? Eos quas aliquam cupiditate beatae labore quis animi maxime earum necessitatibus, voluptates illo, minus nisi? Hic, eos commodi Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit neque, animi, possimus deserunt quos perspiciatis sit in quia ea veritatis ad ipsum rem nisi, accusantium illo vitae ullam omnis blanditiis!. Lorem ipsum dolor sit amet consectetur adipisicing elit.  <br> <br> Quasi voluptate dolores laborum praesentium ut. Cum, voluptates eaque obcaecati commodi delectus possimus aliquam alias? Aliquam aspernatur corrupti, illum placeat velit qui. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quae. Maxime, impedit ratione dolore doloremque laudantium optio.
                Thanks for reading.</p>
            </div>
        </div>
    </section>

{% endblock %}