<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = '/css_short/variable.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = '/css_short/classes.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = '/Admin/css/admin_base.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename = '/Admin/imgs/fv.png')}}" type="image/x-icon">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <nav class="flexwihtoutjusty">
        <div class="left_nav">
            <li class="nav_lis"> <a class="nav_encer" href="/dishbord">Dishbord</a> </li>
            <!-- <li class="nav_lis"> <a class="nav_encer" href="/posts">Dishbord</a> </li> -->
            <li class="nav_lis"> <a class="nav_encer" href="/add_posts">Add post</a> </li>
        </div>
        <div class="between_nav fullflex">
            <!-- <li class="nav_lis"> <a href="">Home</a> </li>
            <li class="nav_lis"> <a href="">Blogs</a> </li>
            <li class="nav_lis"> <a href="">About</a> </li> -->
        </div>
        <div class="right_nav fullflex">
            <li class="nav_lis"> <a class="nav_encer" id="logout_btn" href="#">Logout</a> </li>
            <li class="nav_lis"> <a class="nav_encer" id="login_btn" href="/">Home</a> </li>
        </div>

        <div class="full-logout-page">
            <div class="logout_continer">
                <div class="logout_msg">
                    <h3>Do you realy want to logout?</h3>
                    <p>If you logout then you have to enter the user name and password to login. Hope you'll be back.</p>
                </div>
                <hr>
                <div class="logout_dission">
                    <a href="/dishbord" class="close fullflex">No</a>
                    <a href="/logout" class="ok fullflex">Yes</a>
                </div>
            </div>
        </div>
    </nav>
    <script>
        document.getElementById('logout_btn').addEventListener('click', function(){
            document.querySelector('.full-logout-page').style.display = 'flex';
        })
        document.querySelector('.close').addEventListener('click', function(){
            document.querySelector('.full-loginpage').style.display = 'none';
        })
    </script>
    {% block body %} {% endblock %}
</body>
</html>