*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


nav{
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    box-shadow: -1px -9px 20px 2px #0009;
    position: sticky;
    top: 0px;
    z-index: 10;
}
nav a{
    color: black;
}

.nav_encer{
    text-decoration: none;
    font-size: 20px;
}

.nav_lis{
    list-style: none;
    width: 6pc;
    margin: 4px;
    padding: 4px;
    border-radius: 1pc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_lis:hover{
    font-weight: bold;
    background: #cdc6dc2e;
    /* transition: 0.4s ease-in-out; */
    
}

.left_nav{
    /* background-color: red; */
    width: 30%;
    display: flex;
    justify-content: space-around;
}

.between_nav{
    /* background-color: rosybrown; */
    width: 30%;
}


.right_nav{
    /* background-color: slateblue; */
    width: 30%;
    justify-content: space-around;
}

/* 
================= LOGOUT ========== 

*/

.full-logout-page{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
}

.logout_continer{
    height: 26%;
    width: 30%;
    background-color: white;
    border-radius: 1pc;
}
.logout_msg{
    height: 70%;
    /* background-color: yellow; */
    padding: 2pc;
}
.logout_dission{
    height: 30%;
    /* background-color: red; */
    display: flex;
    justify-content: space-around;


}
.close{
    font-size: 2pc;
    text-decoration: none;
    /* background-color: rgb(154, 142, 135); */
    width: 50%;
    color: black;

}
.ok{
    font-size: 2pc;
    text-decoration: none;
    /* background-color: silver; */
    width: 50%;
    color: black;

}
.close:hover{
    color: red;
}
.ok:hover{
    color: blue;
}
