#few-blogs{
    height: 100%;
    background-color: #fffbfb9c;
}
#few-blogs h1{
    margin-top: 4pc;
}
.blogs-area{
    height: 100%;
    width: 80%;
    margin: 10px;
    /* background-color: var(--sixper); */
    border-radius: 3pc;
    padding: 10px;
}
.blogs-area a{
    text-decoration: none;
}
.blogs-area a:hover{
    font-size: 1.2rem;
}
.blogs{
    height: 10pc;
    width: 80%;
    border-radius: 10px;
    background-color: #ced7d83b;
    margin-bottom: 1.2pc;
}

.blogs:hover{
    box-shadow: 8px 9px 1pc #00000075;
    /* height: 12pc; */
}
.titel-con{
    display: flex;
    flex-direction: column;
}

.BLGtitle{
    height: 3pc;
    padding: 4px;
    width: 100%;
    font-size: 30px;
    /* background-color: darkolivegreen; */
}
.BLGcontent{
    height: 7pc;
    padding: 4px;
    /* background-color: darkorange; */
}

