#view-blog{
    height: 110%;
    /* background-color: rgb(19, 177, 82); */
}
.blog-continer{
    width: 80%;
    /* background-color: brown; */
    margin: 1pc;
    margin-top: 3pc;
    padding: 5px;
}
.blog-title{
    /* background-color: burlywood; */
    height: 3pc;
    font-size: 30px;
}
.blog-content{
    /* background-color: cadetblue; */
    height: 45vh;
}
.outher{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    margin-top: 1pc;
}
.horizintal_line{
    margin-top: 1pc;
    height: 2px;
    background-color: black;
    border: none;
}