*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 #full-loginpage{
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 10;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
}


.login_area{
    height: 25pc;
    width: 37pc;
    background-color: white;
    border-radius: 4pc;
}


#coross{
    float: right;
    position: relative;
    top: -1.9pc;
    right: -11.8pc;
    text-decoration: none;
    font-size: 30px;
    color: #231e1e;
    transition: all 1s ease;
    height: 40px;
    width: 40px;
    margin: 4px;
    border-radius: 10px;
}


#coross:hover{
    transform: rotate(190deg);
    color: rgb(255, 0, 0);
    background-color: var(--tenper);
    border-radius: 3pc;
}

.uperlogin{
    height: 30%;
    width: 100%;
}

.lowerlogin{
    height: 70%;
    width: 100%;
}


#login_por{
    max-width: 7pc;
    border-radius: 100%;
}

.form{
    display: flex;
    flex-direction: column;
   
    width: 73%;
    
    height: 95%;
}

.inputs{
    height: 20%;
    border: none;
    outline: none;
    background-color: #f0f0f1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4pc;
    padding-left: 1pc;
    margin-bottom: 7px;
}


#sub_btn{
    justify-content: center;
    background-color: #7d6f7169;
    font-size: 18px;
    height: 40px;
}


#sub_btn:hover{
    font-size: 20px;
    transition: 0.5s;
}

#creat_ac{
    text-decoration: none;
    margin-top: 10px;
    height: 30px;
}


#creat_ac:hover{
    background-color: var(--thirper);
    font-size: 20px;
    font-weight: bold;
    transition: 0.5s;
}
